@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-inter text-white bg-black leading-loose;
  }
}

body {
  background-image: url('/assets/stars-off/app-bg.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 500px; /* Adjust height as needed */
}
.font-grotesk{
  font-family: 'Space Grotesk', sans-serif;
}
.rounded-left{
  border-radius: 3px 0px 0px 3px;
}
.rounded-right{
  border-radius: 0px 3px 3px 0px;
}